body, html{
    height: 100%;
    width: 100%;
    font-family: "Open Sans";
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
.logo{
    width: 100%;
    height: 100%;
}
.logo img{
    width: 100%;
}
.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.navbar-brand{
    display: flex!important;
    justify-content: center;
    margin: none!important;
    padding: none!important;
    width: 18%;
    padding: 0px;
}
.navbar{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.bg-light{
    background-color: rgba(255,255,255,0.9)!important;
}
.navbar-light .navbar-toggler{
    border-color:transparent!important;
}
.navbar-light .navbar-toggler-icon{ background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(5, 25, 35, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler-icon{
    width: 1.8em!important;
    height: 1.8em!important;
}
.nav-link .flag{
    display: flex!important;
}
#sidebar:focus{
    border: none!important;
}
#sidebar ul.components:focus{
    outline:none!important;
}
#mCSB_1:focus{
    outline:none!important;
}
#mCSB_1_container:focus{
    outline:none!important;
}
.flag{
    width: 15%;
    display: flex;
    align-self:center;
    border: 0.5px solid rgba(1,1,1,0.05)
}
.flag img{
    width: 100%;
}
.hero-image{
    background-image: url(../pics/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 70%;
    position: relative;
}
.hero-image img{
    width: 100%;
}
.first-header{
    text-align: center;
    font-size: 1.563em;
    font-weight: 100;
    padding: 10% 5% 5% 5%;
}
.logo-header{
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 13%;
}
.logo-header img{
    width: 100%;
}

.blue-container{
    background: #0ED2F7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #B2EFFE, #0ED2F7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #B2EFFE, #0ED2F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5%;
    padding-bottom: 1px;
    color: white;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(173,173,173,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(173,173,173,1);
    box-shadow: 0px 0px 6px 0px rgba(173,173,173,1);
}
h3{
    font-size: 1.563em;
    padding-left: 5%;
}
.blue-container h3{
    font-weight: 100;
    padding-top: 3%;
    padding-bottom: 8%;
}
.h3_underline{
    border-bottom: 1px solid white;
}
.h3_black_underline{
    border-bottom: 1px solid #222222;
    font-weight: 100;
    padding-bottom: 8px;
    line-height: 2em;
}
.inside_darkblue_container{
    margin-bottom: 7%;
    padding: 5% 7% 1% 7%;
    background: rgba(0, 103, 123, 0.7);
    font-weight: 100;
    line-height: 1.8em;
}
.anketa h3{
    font-weight: 100;
    padding-top: 13%;
    padding-bottom: 8%;
}
form{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 8%;
}
form h3{
    font-weight: 600!important;
    font-size: 1.563em;
}
.form-control{
    border-radius: 0px;
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.05);
}
#attestation{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    z-index: -1;
}
.btn-radio {
    color: #747474;
    border: 1px solid #C7C7C7;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    -webkit-transition: background 600ms ease, color 600ms ease;
    transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
  display: none;
}
input[type="radio"].toggle + label {
  cursor: pointer;
  min-width: 60px;
}
input[type="radio"].toggle + label:hover {
  background: none;
  color: #1a1a1a;
}
input[type="radio"].toggle + label:after {
  background: #0ED2F7;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}
input[type="radio"].toggle.toggle-left + label {
  border-right: 0;
}
input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}
input[type="radio"].toggle.toggle-right + label {
  margin-left: -5px;
}
input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}
input[type="radio"].toggle:checked + label {
  cursor: default;
  color: #fff;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
input[type="radio"].toggle:checked + label:after {
  left: 0;
}
.radio-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
form h6{
    color: rgba(0,0,0,0.5);
    font-weight: 100;
    font-size: 0.938em;
}
#submit-button .btn-success{
    background-color: #0ED2F7;
    border-color: #11B1D0;
}
#submit-button .btn{
    border-radius: 0px;
    margin-top: 5%;
    padding: 5% 15%;
    font-size: 1.563em;
    font-weight: 100;
}
#submit-button{
    display: flex;
    justify-content: center;
    
}
.other_links h3{
    font-weight: 100;
    padding-bottom: 8%;
}
.word_document{
    padding-left: 5%;
}
.word_document p{
    text-decoration: underline;
    font-size: 1.125em;
    font-weight: 100;
}
.word {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.5em;
}
#steps-arrow{
    width: 2.8%;
    margin-left: 5%;
}
.work-link{
    border: 1px solid #0ED2F7;
    background-color: #0ED2F7;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.1em;
    font-weight: 100;
    margin: 5%;
    padding: 5%;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(173,173,173,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(173,173,173,1);
    box-shadow: 0px 0px 6px 0px rgba(173,173,173,1);
}
.work-link i{
    padding: 0%;
    font-size: 1.3em;
}
.work-link p{
    margin-bottom: 0px;
}
footer{
    background-color: #222222;
    color: white;
    padding-bottom: 10%;
    margin-top: 20%;
}
footer h3{
    font-weight: 100;
}
.h3_white_underline{
    border-bottom: 1px solid white;
    font-weight: 100;
    padding-bottom: 8px;
    line-height: 2em;
}
footer h3{
    padding: 10% 5%;
}
footer .row{
    padding-top: 5px;
    padding-bottom: 5px;
}
footer .col-12{
    display: flex;
    justify-content: center;
}
footer a{
    color: white;
    font-weight: 100;
}
footer .col-12 a i{
    padding-left: 10px;
}
hr{
    margin-bottom: 10%;
    margin-top: 10%;  
}
#footer-hr{
    background-color: rgba(255,255,255,0.1);

}
#social i{
    font-size: 2em;
    margin: 5px;
}
.fa-chevron-right{
    margin-left: 10px;
}
.white_hr{
    border-top: 1px solid rgba(255,255,255,.1);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.social_row{
    font-size: 2.3em;
}
.social_row a{
    padding-left: 2%;
    padding-right: 2%;
}
/*----

NEW NAVBAR


---*/

/*
    DEMO STYLE
*/



a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #fff;
    border: none;
    border-radius: 0;
    z-index: 99;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.btn-info{
    background-color: transparent;
    border: none;
}
button#sidebarCollapse{
    background-color: transparent;
    border-color: transparent;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.navbar-nav{
    display: flex;
    flex-direction: row;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: white;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    color: #222222;
    text-transform:uppercase;
    padding-left: 5%;
}
#sidebar.active {
    left: 0;
}
 
.top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.middle-bar {
  opacity: 0;
}
 
.bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}  
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #222222;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1.5em;
    padding-top: 15%;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    padding-top: 35%;
    border-bottom: 1px solid transparent;
    font-weight: 100;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
}
.sidebar_hover_link{
    border-bottom: 1px solid white; line-height: 1.7em;
}
.sidebar_hover_link:hover{
    border-bottom: 1px solid black; line-height: 1.7em;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/*#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
    top: 0;
    right: 0;
}*/




/* ---------VRACHOM V CHEXII -------------*/
.first-header_vrachom{
    text-align: left;
    font-size: 1.563em;
    font-weight: 100;
    padding: 10% 5% 0% 5%;
}
.h5_black_underline{
    border-bottom: 1px solid #222222;
    font-weight: 100;
    padding-bottom: 8px;
    line-height: 2em;
}
.container_wrapper p{
    font-weight: 100;
    line-height: 1.8em;
}
.blue-small-container{
    padding: 5%;
    background: #0ED2F7; /* fallback for old browsers */
    color: white;
    margin-bottom: 5%;
}
.steps_wrap{
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.05);
    margin-top: -5%;
    padding: 8%;
    font-size: 0.9em;
    transform: scale(0.9);
}
.steps_wrap .col-6{
    padding: 0px;
}
.left_step_wrap{
    text-align: center;
    margin-bottom: 5%;
    margin-left: 5%;
}
.left_step_wrap h5{
    text-align: left;
    padding-left: 2%;
    font-size: 1.5em;
    margin-top: -5%;
}
.left_step_wrap p{
    text-align: left;
    padding-left: 2%;
    font-weight: 100;
    font-size: 1.1em;
}
.left_step_wrap img{
    width: 70%;
}
.right_step_wrap{
    text-align: center;
    margin-bottom: 5%;
    margin-right: 5%;
}
.right_step_wrap img{
    width: 70%;
}
.right_step_wrap h5{
    text-align: right;
    padding-right: 2%;
    font-size: 1.5em;
    margin-top: -5%;
}
.right_step_wrap p{
    text-align: right;
    padding-right: 2%;
    font-weight: 100;
    font-size: 1.1em;
}
.detailed_steps_wrap p{
    font-weight: 100;
    line-height: 1.8em;
}
.detailed_steps_wrap ul{
    list-style-type: square;
    line-height: 1.8em;
}
.detailed_steps_wrap ul li{
    font-weight: 100;
}
.sub_ul ul{
    list-style-type: none;
    margin-top: 5%;
}
.sub_li{
}
.sub_li p{
    padding-left: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    border-left: 1px solid #0ED2F7;
    margin-right: 5%;
}
.detailed_steps_wrap h5{
    margin-top: 10%;
    margin-bottom: 5%;
}
.address_wrap{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5%;
    margin-top: 5%;
    line-height: 1.5em;
}
#vazhno{
    display: flex;
    justify-content: center;
}


/* ============== 768 =================*/

@media only screen and (min-width: 768px) {
    .logo{
        width: 60%;
        height: 100%;
    }
    .logo img{
        width: 100%;
    }
    .flag{
        width: 15%;
        display: flex;
        align-self:center;
        border: 0.5px solid rgba(1,1,1,0.05);
        margin-right: 2%;
    }
    .flag img{
        width: 100%;
    }
    .first-header {
        text-align: center;
        font-size: 1.8em;
        font-weight: 100;
        padding: 13% 5% 4% 5%;
    }
    .logo-header{
        width: 40%;
        display: block;
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 7%;
    }
    .blue-container{
        padding-top: 3%;
        padding-bottom: 2%;
        margin-bottom: %;
    }
    .blue-container h3{
        padding-bottom: 5%;
    }
    .anketa h3{
        padding-bottom: 5%;
    }
    .other_links h3{
        padding-bottom: 5%;
    }
    .blue-container .row .col-md-6{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .blue-container .row .col-md-6 .inside_darkblue_container{
        display: flex;
        justify-content: center;
        align-content: space-between;
    }
    #contact-form hr{
        margin-top: 5%;
        margin-bottom:6%;
    }
    #contact-form h6{
        text-align: center;
    }
    footer{
        margin-top: 15%;
    }
}
@media only screen and (min-width: 768px) {
    .logo{
        width: 30%;
        height: 100%;
        margin-left: 5%;
    }
    .flag{
        width: 15%;
        display: flex;
        align-self:center;
        border: 0.5px solid rgba(1,1,1,0.05);
        margin-right: 12px;
    }
    .first-header {
        text-align: center;
        font-size: 1.8em;
        font-weight: 100;
        padding: 6% 5% 4% 5%;
    }
    .logo-header{
        width: 30%;
        display: block;
        margin: 0 auto;
        margin-top: 0%;
        margin-bottom: 7%;
    }
    #submit-button .btn{
        border-radius: 0px;
        margin-top: 5%;
        padding: 2% 5%;
        font-size: 1.563em;
        font-weight: 100;
    }
    .work-link{
        margin-top: 0%;
        font-weight: 400;
        font-size: 1.2em;
        -webkit-box-shadow: 0px 0px 6px 0px rgba(173,173,173,1);
        -moz-box-shadow: 0px 0px 6px 0px rgba(173,173,173,1);
        box-shadow: 0px 0px 6px 0px rgba(173,173,173,1);
    }
    #steps-arrow{
        width: 2%;
        margin-left: 5%;
    }
}
@media only screen and (min-width: 1023px) {
    .navbar{
        padding-left: 10%;
        padding-right: 10%;
    }
    .flag{
        width: 15%;
        display: flex;
        align-self:center;
        border: 0.5px solid rgba(1,1,1,0.05);
        margin-right: 12px;
    }
    #sidebar{
        width: 400px;
        padding-left: 7%;
        left: -400px;
    }
    .first-header {
        text-align: center;
        font-size: 1.8em;
        font-weight: 100;
        padding: 5% 5% 2% 5%;
    }
    .logo-header{
        width: 25%;
        display: block;
        margin: 0 auto;
        margin-top: 0%;
        margin-bottom: 4%;
    }
    .blue-container h3{
       padding-bottom: 3%;
    }
    .anketa h3{
        padding-top: 8%;
        padding-bottom: 3%;
    }
    form{
        padding-top: 7%;
        padding-bottom: 5%;
    }
    #contact-form hr{
        margin-top: 2%;
        margin-bottom: 3%;
    }
    #submit-button .btn{
        padding: 1.5% 4%;
        font-size: 1.1em;
        font-weight: 400;
        margin-top: 2.5%;
    }
    #afterform-hr{
        border-color: transparent!important;
        margin-top: 0%;
        margin-bottom: 8%;
    }
    #aftervrachom-hr{
        margin-top: 10%;
        margin-bottom: 8%;
    }
    footer{
        margin-top: 10%;
        padding-bottom: 5%;
    }
    footer h3{
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .white_hr{
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .container_wrapper h5{
        padding-left: 5%;
    }
    .first-header_vrachom{
        padding: 10% 5% 3% 5%;
    }
    .steps_wrap{
        margin: 10%;
        margin-top: 0%;
        margin-bottom: 5%;
    }
    .right_step_wrap img{
        width: 30%;
    }
    .left_step_wrap img{
        width: 30%;
    }
    .left_step_wrap h5{
        text-align: center;
        font-size: 1.7em;
    }
    .left_step_wrap p{
        text-align: center;
        font-size: 1.5em;
    }
    .right_step_wrap h5{
        text-align: center;
        font-size: 1.7em;
    }
    .right_step_wrap p{
        text-align: center;
        font-size: 1.5em;
    }
    .left_step_wrap .col-6{
        display: flex;
        flex-direction: column;
    }
    .right_step_wrap .col-6{
        display: flex;
        flex-direction: column;
    }
    .left_step_wrap .col-6:nth-child(2){
        display: flex;
        align-content: flex-end;
        align-items:center;
        left: -10%;
    }
    .right_step_wrap .col-6:nth-child(1){
        display: flex;
        align-content: center;
        align-items:center;
        left: 10%;
    }
    .detailed_steps_wrap img{
        width: 1%;
    }
    .arrow-right{
        width: 1%;
    }
    .sub_li p{
        margin-top: 1.5%;
    }
    
}



